/*
Colour Palette
#FFFFFF
#DFDFDF background
#EEEEEE Degradade Central
#4A4261 Font
#E2CFB3 Hover 2
#BD873A title2
#5A9230 title 1
#7EB51D resalt
#C7EA86 hover 1
*/

html {
  background-color: #dfdfdf;
  font-family: "Lucida Sans Unicode";
  font-size: 12px;
  color: #4a4261;
}

body {
  margin: 0;
  padding: 0;
}

/*Main Container*/
.main-container {
  width: 900px;
  height: 900px;
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 2.5rem;
  display: list-item;
  height: auto;
  margin: 0 auto;
  margin-top: 2%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/*Main Container Part 1: title+image*/
.main-container-part1 {
  text-align: left;
  font-weight: bold;
  padding: 0.5rem;
}
.main-container-part1 h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.h1__one {
  color: #5a9230;
}
.h1__two {
  color: #bd873a;
}

.main-container-part1 .img {
  object-fit: none;
  width: 1150px;
  height: auto;
}

/*Main Container Part 2: menu*/
.main-container-part2 {
  width: 15%;
  height: 400px;
  float: left;
  padding: 0%;
  margin: 0;
  padding-bottom: 0.5rem;
}

.main-container-part2 .menu__option ul {
  padding: 0%;
  padding-inline-start: 0px;
}

.main-container-part2 .menu__option {
  width: 100%;
  border: 1px solid #dfdfdf;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background: linear-gradient(#ffffff, #c7ea86 70%);
  text-decoration: none;
  list-style-type: none;
}
.main-container-part2 .menu__option:hover {
  width: 100%;
  border: 1px solid #dfdfdf;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background: linear-gradient(#ffffff, #e2cfb3);
  list-style-type: none;
  text-decoration: none;
}

.main-container-part2 .menu__option a {
  text-decoration: none;
  list-style-type: none;
  color: #4a4261;
  font-weight: bold;
}

/*Main Container Part 3: Frame principal*/
.main-container-part3 {
  width: 72%;
  float: right;
  margin-top: 0.2rem;
  margin-left: 0.5rem;
  margin-right: 3.3rem;
  border-color: #eeeeee;
  border: 0.7px solid #eeeeee;
  border-style: solid;
  padding: 1.5rem;
  text-justify: distribute;
  background: linear-gradient(to bottom, #eeeeee 20px, #ffffff 300px, #eeeeee);
}

.main-container-part3 h2 {
  font-weight: 600;
  font-weight: bold;
  color: #7eb51d;
  margin-bottom: 0.1rem;
  border-bottom: 0.5px solid #dfdfdf;
}

.main-container-part3 h3 {
  font-weight: 600;
  font-weight: bold;
  color: #bd873a;
}
.main-container-part3 p {
  font-weight: 500;
}

.footer__container {
  display: flow-root;
  width: 900px;
  height: 50px;
  margin: 0 auto;
  color: #dfdfdf;
  font-size: 0.8rem;
  text-decoration: none;
  list-style-type: none;

  text-align: center;
}

/* Footer with cc image */
.footer__container a {
  color: #cfcdcd;
  text-decoration: none;
  list-style-type: none;
  font-weight: bold;
}
